 <div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 text-center">
  <%= form_tag(users_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Find friends" %>
  <%= submit_tag "Find" %>
  <% end %>

  <% if params[:search].nil? or params[:search].strip == '' %>
  <% else %>
  <% if @users.present? %>
  <%= render 'users' %>
  <% else %>
  <p>There are no user matching: <%= params[:search] %>.</p>
  <% end %>
  <% end %>
</div>




