


<div class="container" style='padding-top:80px;'>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">

      <div class="friend-nav">
        <%= link_to 'View', friendships_path%>
        <%= link_to 'Add', users_path%>
        <%= link_to 'Pending', pending_path%>
        <%= link_to 'Sent', sent_path%>
      </div>


      <% form_tag(users_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Find friends", class: 'tag-input' %>
        <%= image_submit_tag("logo-white.png", class: 'image-responsive search-logo') %>
      <% end %>

      <% if @users.present? %>
        <%= render 'users' %>
      <% else %>
        <p>There are no user matching: <%= params[:search] %>.</p>
      <% end %>


    </div>
  </div>
</div>




