
<div class="container">
  <div class="row">
    <% @friend.collections.each do |collect| %>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag(collect.movie.photo_url, class: "banner-poster") %>

      <div class="friend-content-div">
        <%= simple_form_for Collection.new, path: collections_path do |f| %>
          <%= f.hidden_field :movie_id, value: collect.movie_id %>
          <%= f.submit "save to my collection", class: "btn btn-primary add-to-col"%>
        <% end %>
      </div>
      <div class="friend-content-div">
        <% current_user.tags.distinct.each do |tag| %>
          <%= simple_form_for TagCollection.new do |f| %>
            <%= f.hidden_field :collection_id, value: collect.id %>
            <%= f.hidden_field :movie_id, value: collect.movie_id %>
            <p>Add to <%= tag.name  %></p>
            <%= f.submit "+", class: "btn btn-primary add-to-col"%>
          <% end %>
        <% end %>
      </div>

      </div>
    <% end %>
  </div>
</div>





