<%= render 'friendships/menus'%>
<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3  ">
      <div class="friend-title">
        <div class="friend-name-profile">
          <div class="user-avatar", style="display: inline";>
            <% avatar_url = @friend.facebook_picture_url || @friend.photo %>
            <%= image_tag avatar_url , class: "avatar-xlarge"%>
          </div>
          <%=@friend.username %>
        </div>
      </div>

      <div class="friend-content">
        <div class="tabs">
          <%= link_to pluralize(@friend.tags.size, 'Tag'), friendship_path(@friend, tab: 'tags'), class: ["tab", ('active' if @tab == 'tags')] %>
          <%= link_to pluralize(@friend.collections.size, 'Movie'), friendship_path(@friend, tab: 'movies'), class: ["tab", ('active' if @tab == 'movies')] %>
        </div>

        <div id="tab-1" class="tab-content current">
          <% if @tab == 'tags' %>
            <%@friend.tags.each do |tag| %>
              <li><%= link_to tag.name, tag_path(tag) %></li>
            <%end %>
          <% else %>
            <%@friend.collections.each do |collection| %>
              <li><%= link_to collection.movie.title, collection_path(collection) %></li>
            <%end %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>

